@page "/contact"

<h3>Contact Us</h3>

<MudPaper Class="pa-4" Elevation="1">
    <MudText Typo="Typo.body1">We’d love to hear from you! Please fill out the form below.</MudText>

    <MudTextField T="string" Label="Your Name" />
    <MudTextField T="string" Label="Your Email" />
    <MudTextField T="string" Label="Message" Lines="4" />

    <MudButton Color="Color.Primary" Class="mt-3">Send Message</MudButton>
</MudPaper>