@page "/"


<!-- Header -->
<MudGrid >
    <MudItem xs="12" md="2"></MudItem>
    <!-- Left Side (Info Section) -->
    <MudItem xs="12" md="4" >
        <MudText Typo="Typo.h2" Align="Align.Center">MX Tech Solutions</MudText>
        <MudText Class="mt-10" Typo="Typo.h6" Align="Align.Center">
            Your Trusted Partner in Web Solutions. <br/>
            We are here to bring your web vision to life with expertise and innovation.
        </MudText>
        <MudText Typo="Typo.body2" Class="mt-5" Align="Align.Center">
            At MX TECH SOLUTIONS, we specialize in:
        </MudText>
        <MudText Typo="Typo.button" HtmlTag="h3" Class="mt-3" Align="Align.Center">
            - Web Development<br/>
            - Web Design<br/>
            - Social Media<br/>
            - Digital Marketing<br/>
            - Video Editing<br/>
        </MudText>
        <MudText Typo="Typo.body1" Class="mt-2" Align="Align.Center">
            Our dedicated team works closely with you to understand your needs <br/>
            and deliver tailored solutions that exceed your expectations. <br/>
            We believe in building long-term partnerships and providing ongoing support 
            even after the project is completed.
        </MudText>
        <MudText Align="Align.Center">

            <MudButton Color="Color.Error" Variant="Variant.Filled" Class="mt-10"  Href="./contact" >Get Started 📝</MudButton>

        </MudText>
        </MudItem>

    <!-- Right Side (Image Section) -->
    <MudItem xs="12" md="4" Align="Align.Center">
        <MudImage Fluid="true" Src="./images/header.jpg" Alt="Photo by Luke Peters on Unsplash" Class="rounded-lg"/>
    </MudItem>
    
    <MudItem xs="12" md="2"></MudItem>
    
</MudGrid>

<!-- Services  -->
<MudGrid Justify="Justify.Center" Spacing="5">
   
    <MudItem Class="mt-20" xs="12" md="12">
        <MudText Align="Align.Center" Typo="Typo.h3">Our Services. 🌟</MudText>
        <MudText Align="Align.Center" Class="mb-10">
            <p>We're your digital partners, specializing in five core areas crucial for digital triumph. <br>
                With innovation at our core, we offer tailored solutions to propel your brand forward in today's dynamic landscape. <br>
                Let's craft your digital success story together.</p>
        </MudText>
    </MudItem>
    
    <!-- Web Development Card -->
    <MudItem xs="12" sm="6" md="3">
        <MudCard Class="pa-4" Style="text-align: center;">
            <MudText Typo="Typo.h5" Color="Color.Primary" Class="mb-2">
                <span style="font-size: xxx-large">💻</span>
            </MudText>

            <MudText Typo="Typo.h6" Color="Color.Error">WEB DEVELOPMENT</MudText>
            <MudText Class="mt-5" Typo="Typo.body1">
                Websites 🌐<br/>
                SEO 🔍<br/>
                Shopify 🛒<br/>
                E-commerce 🛍️<br/>
                Custom Web Applications 💡
            </MudText>
            <MudButton Variant="Variant.Filled" Color="Color.Error" Class="mt-5">
                See All Services
            </MudButton>
        </MudCard>
    </MudItem>

    <!-- Web Design Card -->
    <MudItem xs="12" sm="6" md="3">
        <MudCard Class="pa-4" Style="text-align: center;">
            <MudText Typo="Typo.h5" Color="Color.Primary" Class="mb-2">
                <span style="font-size: xxx-large">🎨</span>
            </MudText>
            <MudText Typo="Typo.h6" Color="Color.Error">WEB DESIGN</MudText>
            <MudText Class="mt-5" Typo="Typo.body1">
                UI/UX Design 🎨<br/>
                Responsive Design 📱<br/>
                Graphic Design ✏️<br/>
                Branding 🌟<br/>
                Prototyping 🧩
            </MudText>
            <MudButton Variant="Variant.Filled" Color="Color.Error" Class="mt-5">
                See All Services
            </MudButton>
        </MudCard>
    </MudItem>

    <!-- Social Media Card -->
    <MudItem xs="12" sm="6" md="3">
        <MudCard Class="pa-4" Style="text-align: center;">
            <MudText Class="mt-5" Typo="Typo.h5" Color="Color.Primary">
                <span style="font-size: xxx-large">📱</span>
            </MudText>
            <MudText Typo="Typo.h6" Color="Color.Error">SOCIAL MEDIA</MudText>
            <MudText Class="mt-5" Typo="Typo.body1">
                Content Creation ✏️<br/>
                Community Management 🌐<br/>
                Influencer Marketing 🌟<br/>
                Social Media Ads 📢<br/>
                Analytics 📊
            </MudText>
            <MudButton Variant="Variant.Filled" Color="Color.Error" Class="mt-5">
                See All Services
            </MudButton>
        </MudCard>
    </MudItem>


</MudGrid>

<MudGrid Justify="Justify.Center" Spacing="5">
    <!-- Digital Marketing Card -->
    <MudItem xs="12" sm="6" md="3">
        <MudCard Class="pa-4" Style="text-align: center;">
            <MudText Class="mt-5" Typo="Typo.h5" Color="Color.Primary">
                <span style="font-size: xxx-large">📊</span>
            </MudText>
            <MudText Typo="Typo.h6" Color="Color.Error">DIGITAL MARKETING</MudText>
            <MudText Class="mt-5" Typo="Typo.body1">
                SEO Optimization 🔍<br />
                Pay-Per-Click (PPC) 📊<br />
                Email Marketing 📧<br />
                Content Marketing 📄<br />
                Analytics & Reporting 📈
            </MudText>
            <MudButton Variant="Variant.Filled" Color="Color.Error" Class="mt-5">
                See All Services
            </MudButton>
        </MudCard>
    </MudItem>

    <!-- Video Editing Card -->
    <MudItem xs="12" sm="6" md="3">
        <MudCard Class="pa-4" Style="text-align: center;">
            <MudText Class="mt-5" Typo="Typo.h5" Color="Color.Primary">
                <span style="font-size: xxx-large">🎥</span>
            </MudText>
            <MudText Typo="Typo.h6" Color="Color.Error">VIDEO EDITING</MudText>
            <MudText Class="mt-5" Typo="Typo.body1">
                Editing & Post-Production 🎬<br />
                Color Correction 🎨<br />
                Motion Graphics 🕹️<br />
                Sound Design 🎵<br />
                Visual Effects (VFX) ✨
            </MudText>
            <MudButton Variant="Variant.Filled" Color="Color.Error" Class="mt-5">
                See All Services
            </MudButton>
        </MudCard>
    </MudItem>
        
    <!-- Coming Soon Card -->
    <MudItem xs="12" sm="6" md="3">
        <MudCard Class="pa-4" Style="text-align: center;">
            <MudText Class="mt-5" Typo="Typo.h5" Color="Color.Primary">
                <span style="font-size: xxx-large">🚀</span>
            </MudText>
            <MudText Typo="Typo.h6" Color="Color.Error">COMING SOON</MudText>
            <MudText Class="mt-5" Typo="Typo.body1">
                Mobile APP Development 📱<br />
                Cloud Solutions ☁️ <br />
                AI & Machine Learning 🤖<br />
                Cybersecurity 🔒<br />
                Etc 👨🏼‍💻
            </MudText>
            <MudButton Variant="Variant.Filled" Color="Color.Error" Class="mt-5">
                See All Services
            </MudButton>
        </MudCard>
    </MudItem>

</MudGrid>

<!-- Works-->
<MudGrid Justify="Justify.Center" Spacing="5">

    <MudItem Class="mt-20" xs="12" md="12">
        <MudText Align="Align.Center" Typo="Typo.h3">Our Work. 🛠️</MudText>
        <MudText Align="Align.Center" Class="mb-10">
            <p>Some of our completed projects, we are working on bringing new projects.</p>
        </MudText>
    </MudItem>
    
    <!-- Cards Section with Spacing -->
    <MudItem xs="12" sm="3" md="3" Align="Align.Center">
        <MudCard Class="mb-4">
            <MudCardHeader >
               
                <MudText Typo="Typo.body1"><b>KSZ Weiden</b></MudText>
             
            </MudCardHeader>
            <MudCardMedia Image="images/ksz-weiden.jpg" Height="250"/>
            <MudCardActions>
                <MudIconButton Href="https://ksz-weiden.de/" Target="blank" Icon="@Icons.Material.Filled.Share" Color="Color.Default" />
            </MudCardActions>
        </MudCard>
    </MudItem>

    <MudItem xs="12" sm="3" md="3">
        <MudCard Class="mb-4">
            <MudCardHeader>

                <MudText Typo="Typo.body1"><b>Palushi Brothers</b></MudText>

            </MudCardHeader>
            <MudCardMedia Image="images/palushi-brothers.jpg" Height="250"/>
            <MudCardActions>
                <MudIconButton Href="https://palushibrothers.co.uk/" Target="blank" Icon="@Icons.Material.Filled.Share" Color="Color.Default" />
            </MudCardActions>
        </MudCard>
    </MudItem>

    <MudItem xs="12" sm="3" md="3">
        <MudCard Class="mb-4">
            <MudCardHeader>

                <MudText Typo="Typo.body1"><b>Besi's Imbiss</b></MudText>

            </MudCardHeader>
            <MudCardMedia Image="images/besis-imbiss.jpg" Height="250"/>
            <MudCardActions>
                <MudIconButton Href="https://besis-imbiss.de/" Target="blank" Icon="@Icons.Material.Filled.Share" Color="Color.Default" />
            </MudCardActions>
        </MudCard>
    </MudItem>

    <!-- Centered Button at the Bottom -->
    <MudItem xs="12" md="12" Class="d-flex justify-center mt-6">
        <MudButton Color="Color.Error" Variant="Variant.Filled" Class="mx-auto">
            All Projects
        </MudButton>
    </MudItem>
</MudGrid>


<!-- About Us -->
<MudGrid Justify="Justify.Center" Spacing="5">

    <MudItem Class="mt-20" xs="12" md="12">
        <MudText Align="Align.Center" Typo="Typo.h3" Class="mb-10">About Us.😊</MudText>
    </MudItem>

    <MudItem xs="12" md="2"></MudItem>
    <!-- Right Side (Image Section) -->
    <MudItem xs="12" md="4">
        <MudImage Fluid="true" Src="images/about-us.jpg" Alt="Photo by Luke Peters on Unsplash" Class="rounded-lg"/>
    </MudItem>

    
    <!-- Right Side  -->
    <MudItem xs="12" md="4" Align="Align.Center">
        
        <MudText Typo="Typo.h5" Class="mt-3" Align="Align.Center">
            - MX Tech Solutions is a team of dedicated professionals passionate about all things digital.<br/> <br/>
            - With years of experience in web development, design, social media, and digital marketing, we bring expertise, innovation, and creativity to every project.<br/> <br/>
            - Our mission is to empower businesses and individuals in the digital world, helping them succeed and thrive in an ever-evolving landscape.<br/> <br/>
            - We are committed to delivering exceptional results, and we take pride in the relationships we build with our clients.
            </MudText>
        
        <MudText Align="Align.Center">     
            <MudButton Color="Color.Error" Variant="Variant.Filled" Class="mt-10" Href="./contact" >Read More</MudButton>
        </MudText>
     
    </MudItem>

 
    <MudItem xs="12" md="2"></MudItem>
</MudGrid>


<!-- Packages -->
<MudGrid Justify="Justify.Center" Spacing="5">

    <MudItem Class="mt-20" xs="12" md="12">
        <MudText Align="Align.Center" Typo="Typo.h3">Our Packages. 📦</MudText>
        <MudText Align="Align.Center" Class="mb-10">
            <p>Best Pricing Packages..</p>
        </MudText>
    </MudItem>

    <MudItem xs="12" sm="3">
        <MudPaper Class="pa-4" Elevation="2">
            <MudText Typo="Typo.h6" Align="Align.Center" Color="Color.Primary">STANDARD</MudText>
            <MudText Typo="Typo.subtitle2" Align="Align.Center">Ideal for small businesses or startups.</MudText>

            <MudList>
                <MudListItem><MudIcon Icon="icons.material.filled.Check" Color="Color.Success" /> Dynamic Website</MudListItem>
                <MudListItem><MudIcon Icon="icons.material.filled.Check" Color="Color.Success" /> Website Presenter</MudListItem>
                <MudListItem><MudIcon Icon="icons.material.filled.Check" Color="Color.Success" /> Basic Chat & SEO</MudListItem>
                <MudListItem><MudIcon Icon="icons.material.filled.Check" Color="Color.Success" /> SSL & Security</MudListItem>
            </MudList>

            <MudText Typo="Typo.body2" Align="Align.Center">After the first year, annual maintenance: £80</MudText>
            <MudText Typo="Typo.body2" Align="Align.Center" Color="Color.Error">(Host and domain are purchased by the customer)</MudText>

            <MudText Typo="Typo.h5" Align="Align.Center" Color="Color.Secondary"><s>£599</s> £500</MudText>
            <MudButton Variant="Variant.Filled" Color="Color.Primary" FullWidth="true">Select Plan</MudButton>
        </MudPaper>
    </MudItem>

    <MudItem xs="12" sm="3">
        <MudPaper Class="pa-4" Elevation="2">
            <MudText Typo="Typo.h6" Align="Align.Center" Color="Color.Primary">PREMIUM</MudText>
          
            <MudText Typo="Typo.subtitle2" Align="Align.Center">Perfect for growing businesses.</MudText>
                <br/>
            <MudText Typo="Typo.body1" Align="Align.Center">
                ✅ Dynamic Website & SSL<br />
                ✅ 2 Languages<br />
                ✔ Search & Chat<br />
                ✔ Full SEO<br />
                ✔ Free Host & Domain 1 year
            </MudText>

            <MudText Typo="Typo.body2" Align="Align.Center">After the first year, annual maintenance: £80</MudText>

            <MudText Typo="Typo.h5" Align="Align.Center" Color="Color.Secondary"><s>£999</s> £699</MudText>
            <MudButton Variant="Variant.Filled" Color="Color.Primary" FullWidth="true">Select Plan</MudButton>
        </MudPaper>
    </MudItem>

    <MudItem xs="12" sm="3">
        <MudPaper Class="pa-4" Elevation="2">
            <MudText Typo="Typo.h6" Align="Align.Center" Color="Color.Primary">ULTIMATE</MudText>
            <MudText Typo="Typo.subtitle2" Align="Align.Center">Solution for large businesses.</MudText>

            <MudList>
                <MudListItem><MudIcon Icon="icons.material.filled.Check" Color="Color.Success" /> Dynamic Website & SSL</MudListItem>
                <MudListItem><MudIcon Icon="icons.material.filled.Check" Color="Color.Success" /> Booking System or E-commerce</MudListItem>
                <MudListItem><MudIcon Icon="icons.material.filled.Check" Color="Color.Success" /> Multiple Languages</MudListItem>
                <MudListItem><MudIcon Icon="icons.material.filled.Check" Color="Color.Success" /> Design from Scratch</MudListItem>
                <MudListItem><MudIcon Icon="icons.material.filled.Check" Color="Color.Success" /> Chat</MudListItem>
                <MudListItem><MudIcon Icon="icons.material.filled.Check" Color="Color.Success" /> Free Host & Domain 1 year</MudListItem>
                <MudListItem><MudIcon Icon="icons.material.filled.Check" Color="Color.Success" /> Tutorials for Using the Website</MudListItem>
                <MudListItem><MudIcon Icon="icons.material.filled.Check" Color="Color.Success" /> Full SEO</MudListItem>
            </MudList>

            <MudText Typo="Typo.body2" Align="Align.Center">After the first year, annual maintenance: £120</MudText>

            <MudText Typo="Typo.h5" Align="Align.Center" Color="Color.Secondary">£1200</MudText>
            <MudButton Variant="Variant.Filled" Color="Color.Primary" FullWidth="true">Select Plan</MudButton>
        </MudPaper>
    </MudItem>
    


</MudGrid>